includes:
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - '#unknown class.+?HumbugBox.+?Vector#'
        - '#Vector.+?offset.+?\(\) should be contravariant#'
        - '#Cannot .+? offset int .+? Ds\\Vector#'
        - '#Variable method call#'