includes:
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - '#HumbugBox#'
        - '#Variable method call#'
        - '#Cannot (access|assign) offset#'
        - '#contravariant with parameter \$offset#'
        - '#assertFalse\(\) with true will always evaluate to false#'